Criando a base de dados fiticia

In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [3]:
# Definir número de registros
n = 200

In [4]:
# Gerar dados fictícios
np.random.seed(42)
ids = np.arange(1, n + 1)
idade = np.random.normal(35, 10, n)  # Média de 35 anos, desvio padrão de 10
salario = np.random.normal(5000, 1200, n)  # Média de 5000, desvio padrão de 1200
horas_trabalho = np.random.normal(40, 5, n)  # Média de 40 horas semanais, desvio padrão de 5

In [5]:
# Inserir outliers em várias colunas
idade[5] = 120  # Idade muito alta
idade[10] = 5    # Idade muito baixa
salario[20] = 30000  # Salário muito alto
salario[30] = 500    # Salário muito baixo
horas_trabalho[50] = 100  # Horas muito altas
horas_trabalho[60] = 5    # Horas muito baixas

In [6]:
# Criando o daataframe
dados_outliers = pd.DataFrame({
    "ID": ids,
    "Idade": idade,
    "Salário": salario,
    "Horas de Trabalho": horas_trabalho
})

In [8]:
# Exibir primeiros registros
def visualizar_dados():
    print(dados_outliers.head())
    print("\nEstatísticas:\n", dados_outliers.describe())

In [10]:
# Salvar base de dados em CSV
dados_outliers.to_csv("C:/Users/tacio/Documents/Python Scripts/dados_outliers.csv", index=False)

In [11]:
# Exemplo de visualização
def main():
    visualizar_dados()

if __name__ == "__main__":
    main()

   ID      Idade      Salário  Horas de Trabalho
0   1  39.967142  5429.344832          32.027862
1   2  33.617357  5672.941432          37.003125
2   3  41.476885  6299.661492          40.026218
3   4  50.230299  6264.562462          40.234903
4   5  32.658466  3346.796758          37.749673

Estatísticas:
                ID       Idade       Salário  Horas de Trabalho
count  200.000000  200.000000    200.000000         200.000000
mean   100.500000   34.902168   5196.036073          39.649174
std     57.879185   11.292827   2138.853735           6.965948
min      1.000000    5.000000    500.000000           5.000000
25%     50.750000   27.842754   4272.994955          35.972955
50%    100.500000   35.090577   5094.607219          39.509624
75%    150.250000   40.154360   5824.677369          42.860441
max    200.000000  120.000000  30000.000000         100.000000